@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic);

:root{

  --color1: #2C3333;
  --color2: #2E4F4F;
  --color3: #0E8388;
  --color4: #CBE4DE;

  --color5: rgba(42, 48, 48, 0.4);



  /* Switche i checkboxy */
  --active: #2C3333;
  --active-inner: #fff;
  --focus: 2px rgba(22, 94, 112, 0.3);
  --border: #b4cec8;
  --border-hover: #0E8388;
  --background: #fff;
  --disabled: #f6f8ff;
  --disabled-inner: #e1e6f9;

}


/* Kolorstyka strony LIGHT MODE*/
body {
    background-color: var(--color1);
    transition: background-color 0.7s ease;
    color: var(--color4);
    overflow: hidden;
    font-family: 'Arimo', sans-serif;
}

.sidebar {
    background-color: var(--color2);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.bar {
    background-color: var(--color4);
}
.button.active .top {
    background-color: var(--color4);
}

.button.active .bottom {
    background-color: var(--color4);
}

.button.active .middle {
    background-color: var(--color4);
}

.sidebar-anchor {
    color: var(--color4);
}

.sidebar-anchor:before {
    background-color: var(--color1);
}

#txt-effect{
  color: var(--color4);

}

/* Kolorstyka strony DARK MODE*/


/* Main */
body,
html {
  height: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  font-family: 'Arimo', sans-serif;
}


/* Button sidebar */
.bar {
  display: block;
  height: 5px;
  width: 50px;

  margin: 10px auto;
}

.button {
  cursor: pointer;
  display: inline-block;
  width: auto;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}

.nav-right {
  position: absolute;
  right: 40px;
  top: 20px;
}

.nav-right.visible-xs {
  z-index: 3;
}

.hidden-xs {
  display: none;
}

.middle {
  margin: 0 auto;
}

.bar {
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}

.button.active .top {
  -webkit-transform: translateY(15px) rotateZ(45deg);
  -moz-transform: translateY(15px) rotateZ(45deg);
  -ms-transform: translateY(15px) rotateZ(45deg);
  -o-transform: translateY(15px) rotateZ(45deg);
  transform: translateY(15px) rotateZ(45deg);
  
}

.button.active .bottom {
  -webkit-transform: translateY(-15px) rotateZ(-45deg);
  -moz-transform: translateY(-15px) rotateZ(-45deg);
  -ms-transform: translateY(-15px) rotateZ(-45deg);
  -o-transform: translateY(-15px) rotateZ(-45deg);
  transform: translateY(-15px) rotateZ(-45deg);
}

.button.active .middle {
  width: 0;
}


/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    right: -300px; 
    bottom: 0;
    width: 300px;
    transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out; 
 }
 
 .sidebar.active{
    transform: translateX(-300px);
 }

 .sidebar-list {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    margin-top: 150px;
    text-align: center;
  }

 .sidebar-item {
    margin: 30px 0;
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
  }

 .sidebar-item:first-child {
    -webkit-transition: all .4s .2s ease-in-out;
    -moz-transition: all .4s .2s ease-in-out;
    -ms-transition: all .4s .2s ease-in-out;
    -o-transition: all .4s .2s ease-in-out;
    transition: all .4s .2s ease-in-out;
  }
  
  .sidebar-item:nth-child(2) {
    -webkit-transition: all .5s .4s ease-in-out;
    -moz-transition: all .5s .4s ease-in-out;
    -ms-transition: all .5s .4s ease-in-out;
    -o-transition: all .5s .4s ease-in-out;
    transition: all .5s .4s ease-in-out;
  }
  
  .sidebar-item:nth-child(3) {
    -webkit-transition: all .5s .5s ease-in-out;
    -moz-transition: all .5s .5s ease-in-out;
    -ms-transition: all .5s .5s ease-in-out;
    -o-transition: all .5s .5s ease-in-out;
    transition: all .5s .5s ease-in-out;
  }

  .sidebar-item:nth-child(4) {
    -webkit-transition: all .6s .6s ease-in-out;
    -moz-transition: all .6s .6s ease-in-out;
    -ms-transition: all .6s .6s ease-in-out;
    -o-transition: all .6s .6s ease-in-out;
    transition: all .6s .6s ease-in-out;
  }
  
  .sidebar-item:last-child {
    -webkit-transition: all .7s .8s ease-in-out;
    -moz-transition: all .7s .8s ease-in-out;
    -ms-transition: all .7s .8s ease-in-out;
    -o-transition: all .7s .8s ease-in-out;
    transition: all .7s .8s ease-in-out;
  }
  
  .sidebar-item.active {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }

  .sidebar-anchor {
    text-decoration: none;
    font-size: 1.8em;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 7px;
  }
  
  .sidebar-anchor:before {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  
  .sidebar-anchor:hover:before {
    width: 100%;
  }

  .settings { /* Button ustawienia zeby byl troche nizej*/
    border: none;
    background: none;
    margin-top: 0;
    text-decoration: none;
    font-size: 0.9em;
    position: relative;
}


/* =============== Page content ============*/
  .page-content {
      width: 100%;
      min-height: 100vh;
      padding-left: 10%;
      padding-right: 10%;
      box-sizing: border-box;
      overflow: hidden;
      transition: all .7s ease-in-out;

      display: flex;
      justify-content: center;
      align-items: center;
    }

  .page-content.active {
      width: 100%;
      min-height: 100vh;
      padding-left: 10%;
      padding-right: 25%;
      box-sizing: border-box;
      overflow: hidden;
      transition: all .7s ease-in-out;
  }


/* Kontener z aplikacją DonBon */

.app-container, .app-container2 {
  position: absolute;

  width: 75rem;
  height: 43rem;

  background-color: var(--color2);
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 300%;
  
  border-radius: 6px;

  margin-left: 3%;
  padding: 0 3rem 3rem 3rem;

  box-shadow: 0px 8px 20px rgba(54, 121, 98, 0.1);
  animation: fadeIn 2.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-70px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#txt-effect {
  text-align: center;
  font-family: 'Space Mono', monospace;
  font-size: clamp(3rem, 10vw, 10rem);
  padding: none;
  margin-top: 1rem;
}

.my-3 {
  margin-top: -1rem;
}  

.komendy, .bitsy, .ch-points {
  margin-top: 1rem;
  padding-left: 0.8rem;
  display: grid;
  justify-content:  center;
  align-items: center;
  grid-template-columns: 153px 153px;
  grid-gap: 16px;
  
}

/* Kolumny dla main kontenera */
.columns {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 5px 0;
  padding: 0rem 2rem 2rem 2rem;
  font-size: 1vw;
  margin-top: -4rem;
}

.column {
  flex: 1;
  margin: 2px;
  padding: 20px;
  border-radius: 5px;
  background: var(--color5);
}

.column:first-child {
  margin-left: 0;
}

.column:last-child {
  margin-right: 0;
}

.column h2 {
  margin-top: -0.3rem;
  text-align: center;
}

.upload-buttons {
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}




  @media screen and (max-width: 768px) {
    .sidebar {
      opacity: 0.8;
    }
    .page-content{
        width: 100%;
        min-height: 100vh;
        padding-left: 10%;
        padding-right: 5%;
        padding-top: 6%;
        box-sizing: border-box;
        overflow: hidden;
        transition: all .3s ease-in-out;
    }
    .page-content.active{
        width: 100%;
        min-height: 100vh;
        padding-left: 10%;
        padding-right: 20%;
        padding-top: -10%;
        box-sizing: border-box;
        overflow: hidden;
        transition: all .3s ease-in-out;
    }
  }

  @media screen and (max-width: 980px) {
    .columns .column {
        margin-bottom: 5px;
        flex-basis: 40%;
  }
    .columns .column:nth-last-child(2) {
        margin-right: 0;
  }
    .columns .column:last-child {
        flex-basis: 100%;
        margin: 0;
  }
}

@media screen and (min-width: 2000px) {
  .app-container {
    height: 45rem;
  }
}

@media screen and (max-width: 768px) {
  .my-3 {
    transition: all .8s ease-in-out;
  }
  .komendy {

    transition: all .8s ease-in-out;
  }
  
  .bitsy {
    padding-top: 1rem;

    transition: all .8s ease-in-out;
  }

  .column {
    padding-top: 2rem;
  }
}

@media screen and (max-width: 680px) {
  .columns .column {
      flex-basis: 100%;
      margin: 0 0 5px 0;
  }
}







