@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
  
}

#btnMode {
  margin-top: 50px;
}

#mode {
  padding-top: 1rem;
}


/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/

.navbar {
  padding: .8rem;
}

.navbar-nav li {
  padding-right: 20px;
}

.nav-link {
  font-size: 1.1em !important;
}

.navbar-brand .watermark {
  font-size: 2rem;
  color: #fff;
  user-select: none;
  width: 80px;
  height: 80px;
  cursor: default;
}

.navbar-brand {
  font-size: 2rem;
  color: #fff;
  user-select: none;
  width: 80px;
  height: 80px;
}

.navbar-nav .nav-item {
  position: relative;
}

.navbar-nav .nav-item .nav-underline {
  content: '';
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  bottom: -2px;
  border-radius: 5px;
  background: #1dbf9f;
  transition: width 0.3s ease, transform 0.1s ease;
  transform-origin: right;
}

.navbar-nav .nav-item:hover .nav-underline {
  width: 100%;
  transform: scaleX(1);
}

.navbar-nav .nav-item .nav-link:not(:last-child):hover .nav-item .nav-link::before {
  transform-origin: left;
  transform: scaleX(0);
}

/*--------------------------------------------------------------
# Logowanie / Rejestracja
--------------------------------------------------------------*/
.modal-logowanie {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  width: 100%;
  
}

.form-box {
  position: relative;
  width: 400px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-value h2 {
  font-size: 2em;
  color: #1dbf9f;
  text-align: center;
}

.form-value .inputbox {
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid #1dbf9f;
}

.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: black
  font-size: 1em;
  pointer-events: none;
  transition: 0.5s;
}

input:focus ~ label,
input:valid ~ label{
top: -5px;
}
.inputbox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding:0 35px 0 5px;
  color: black;
}

.form-value i {
  position: absolute;
  right: 8px;
  color: #1dbf9f;
  font-size: 1.2em;
  top: 20px;
} 

.forget {
  margin: -15px 0 15px;
  font-size: 0.9em;
  color: black;
  display: flex;
  justify-content: center;
}

.forget label input{
  margin-right: 3px;
}

.forget a{
  color: black;
  text-decoration: none;
}

.forget a:hover{
  text-decoration: underline;
}

.loginBtn {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  background: #1dbf9f;
}


.register {
  font-size: 0.9em;
  color: black;
  text-align: center;
  margin: 25px 0 10px;
}

.register p a{
  text-decoration: none;
  color: #1dbf9f;
  font-weight: 600;
}

.register p a:hover{
  text-decoration: underline;

}


/*--------------------------------------------------------------
# Buttony
--------------------------------------------------------------*/

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  background: #1dbf9f !important; 
}


/*--------------------------------------------------------------
# Dodatkowe fixy
--------------------------------------------------------------*/


/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}



/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/







